@import url(./reset.css);
.App {
  min-height: 100vh;
  display: flex;
  flex-direction:column ;
  justify-content: center;
}

.food-info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.size-selection {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
 }

.header-container {
  color:white;
}

.header-container h1 {
  text-align: center;
}

header {
  background-color: #CE2829;
  padding: 1.5rem;
}

.main {
  margin: 0 auto;
  max-width: 530px; 
}